.title {
  text-align: center;
  color: burlywood;
}

.offset {
  margin-top: 50px;
  margin-bottom: 50px;
}

.centered {
  display: flex;
  justify-content: center;
}

.offsetX {
  margin-left: 5px;
  margin-right: 5px;
}
